<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/style/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href="/static/style/home.css">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="txtHeader">
                <img class="i" src="static/media/HomePage Text.png" alt="txt">
            </div>
            <div class="dis col-lg-6 col-md-6 col-sm-12">
                <p>In this modernized version of the Conan Doyle characters, using his detective plots, Sherlock Holmes
                    lives in early 21st century London and acts more cocky towards Scotland Yard's detective inspector
                    Lestrade because he's actually less confident.</p>
            </div>
        </div>
    </div>
    <div class="characters">
        <div class="container">
            <h2>CHARACTERS</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="flip">
                        <div class="flip-all">
                            <div class="flip-front">
                                <img src="/static/media/Mask Group 10.png" alt="Avatar" style="width:100%;height:100%;">
                            </div>
                            <div class="flip-back">
                                <p>
                                    William Sherlock Scott Holmes describes himself initially as "a consulting
                                    detective, the only one in the world", helping out Scotland Yard when they are out
                                    of their depth with cases (usually homicides).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip">
                        <div class="flip-all">
                            <div class="flip-front">
                                <img src="/static/media/Mask Group 9.png" alt="Avatar" style="width:100%;height:100%;">
                            </div>
                            <div class="flip-back">
                                <p>
                                    John Hamish Watson is Sherlock's best friend. He is often a foil to Sherlock in both
                                    appearance and personality. Sherlock has called him "the wisest, warmest human being
                                    [he] knows".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip">
                        <div class="flip-all">
                            <div class="flip-front">
                                <img src="/static/media/Mask Group 11.png" alt="Avatar" style="width:100%;height:100%;">
                            </div>
                            <div class="flip-back">
                                <p>
                                    Mycroft Holmes He is Sherlock's older brother and engages in sibling rivalry with
                                    Sherlock. Mycroft is frequently mocked by Sherlock for “putting on weight”. He
                                    occupies a "minor position in the British government".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip">
                        <div class="flip-all">
                            <div class="flip-front">
                                <img src="/static/media/Mask Group 8.png" alt="Avatar" style="width:100%;height:100%;">
                            </div>
                            <div class="flip-back">
                                <p>
                                    Rosamund Mary Elizabeth Morstan is a former assassin and a part-time nurse, She surprises Sherlock with her knowledge and insight into his character
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="trivia">
        <div class="container">
            <div class=bg-dark text-white">
                <img class=-img" src="static/media/Mask Group 7.png" alt=image">
                <div class=-img-overlay">
                    <div class="G">
                        <a href="index2.html">
                            <h2 class=-title">Trivia</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pop">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="modal fade" id="Game">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header"></div>
                                <div class="modal-body"><img src="static/media/giphy.gif" alt="did u miss me"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="reload()">Accept</button>
                                    <a href="/trivia">
                                        <button type="button" class="btn btn-secondary">Close</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="static/js/jquery.js"></script>
    <script src="static/style/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src='static/js/js.js'></script>
</body>

</html>